*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: rgb(40, 40, 40);
}

body *{
  will-change: filter;
  transition: filter 300ms;
}

body *:hover {
  /* filter: drop-shadow(0 0 2em rgba(100, 108, 255, 0.667)); */
  filter: drop-shadow(0 0 2em rgba(100, 108, 255, 1));
}




























